#!/bin/bash

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  Created by Sam Deane on 25/03/2020.
#  All code (c) 2020 - present day, Elegant Chaos Limited.
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

source "Extras/Scripts/bootstrap-tools"

echo " "
echo "*************"
echo "Uploading iOS  "
echo "*************"

if [[ "$(which xcpretty)" != "" ]]; then
    $RT archive --platform=iOS --show-output | xcpretty
else
    $RT archive --platform=iOS 
fi

$RT export --platform=iOS
$RT upload --platform=iOS

#open "https://appstoreconnect.apple.com/apps/<your-app-id-here>/testflight/ios/"
